ul.el-menu
  border-radius 0px

.el-menu--dark .el-menu-item, .el-menu--dark .el-submenu__title
  color #16B398
  &:hover
    color #bfcbd9

.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active, 
.el-menu-item.is-active
  color #bfcbd9
  background-color #48576a

.el-card
  border-radius 0px
  .el-card__body
   padding 10px

.el-table__footer-wrapper thead div, .el-table__header-wrapper thead div,
.el-table th,
.el-table__fixed-header-wrapper thead div
  background-color #495b69
  color #fff

.el-button--small
  padding 8px 9px